<div class="large-7 medium-9 large-centered medium-centered columns">
    <div class="row collapse">
        <div class="small-3 columns">
            <span class="prefix radius">Search</span>
        </div>
        <div class="small-6 columns">
            <input type="text" data-ng-model="filter">
        </div>
        <div class="small-3 columns">
            <span class="postfix radius">Records: ( <b><% (model|filter:filter).length %>  / <% model.length %></b> )</span>
        </div>
    </div>
</div>